<app-hero-banner
  [title]="'About Us'"
  [subtitle]="'About Us'">
</app-hero-banner>
<div class="container">
  <h3 style="color: #157784;">About Us</h3>
 <p>
  <strong style="color: #157784;">MazharEAalaHazrat.com</strong> is a sincere effort to share the true teachings of
  Islam under the blessed guidance of
  <em>Shahzada-e-Huzur Mazhar-e-Aala Hazrat Junaid-e-Zamaán</em>,
  <em>Khaleefa-e-Hazrat Mufti-e-Aazam Hind</em>,
  <strong style="color: red;">Hazrat Allama Mufti Shaikh Mohammad Nasir Raza Khan Sahab Hashmati</strong>,
  of <em>Khanqahe Aaliya Hashmatiya, Pilibhit Sharif</em>, and
  Founder and former Principal of <em>Al-Jamiatul Hashmatiya</em>, Pipra Mahim, U.P.
</p>


  <p>This platform is rooted in the spirit of <strong>Maslak-e-Aala Hazrat</strong>, the path of traditional Sunni Islam
    (Ahle Sunnat wal Jama'at), radiating love for Allah ﷻ and His Beloved Messenger ﷺ, reverence for the Sahaba and
    Ahle-Bayt, and a steadfast commitment to defending truth against misguidance.</p>

  <h3 style="color: #157784;">Our Inspiration</h3>
  <p>We take immense pride in being inspired by the spiritual Legacy of <em>Mazhare Ala Hazrat shere be shahe ahle sunnat munazire azam alal itlaaq allama hashmat ali khan (رحمة الله
      عليه)</em> — a towering figure known for his fearless clarity and unwavering dedication to <strong>Maslak-e-Aala
      Hazrat</strong>. Our mission includes spreading his message and safeguarding his original teachings.</p>

  <h3 style="color: #157784;">Our Mission</h3>
  <p>Our mission is to present Islam authentically and respectfully, using verified sources and highlighting the deep
    spiritual and intellectual traditions of Ahlus Sunnah wal Jama'ah.</p>

  <ul>
    <li><strong>Aqeedah</strong> – Core Islamic beliefs based on the creed of Ahlus Sunnah wal Jama'ah</li>
    <li><strong>Radd-o-Munazara</strong> – Scholarly rebuttals against deviant sects and ideologies</li>
    <li><strong>Defense of Islam</strong> – Upholding truth and responding to misguidance</li>
    <li><strong>Teachings of Aala Hazrat</strong> and <strong>Mazhar-e-AalaHazrat</strong></li>
  </ul>

  <div class="disclaimer">
    <strong>Disclaimer:</strong> While this platform is spiritually guided by <em> respected Shaikh Nasir Raza
      Khan</em>, any mistakes, omissions, or misrepresentations are the fault of the website team and not the respected
    Shaikh. We remain learners, open to correction, and committed to continuous improvement.
  </div>

  <h3 style="color: #157784;">Join Us</h3>
  <p>We warmly welcome you to explore, learn, and grow with us on a journey fueled by sincerity, knowledge, and devotion
    — all for the pleasure of Allah ﷻ and His Beloved Messenger ﷺ.</p>
</div>

<app-footer></app-footer>