<app-hero-banner
  [title]="'Biography'"
  [subtitle]="'Explore, read, and download your favorite books'">
</app-hero-banner>
<div class="container mt-4 pt-4">
    <div class="tab-container">
        <div class="biography-box my-2">
            <p class="text-center">
                Discover the life, legacy, and scholarly contributions of Hazrat Hashmat Ali Khan RadiAllahu Ta'ala
                Anhu.
            </p>
            <div class="accordion" id="accordionExample">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Introduction
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Today, we discuss one of the most passionate devotees of RasoolAllah ﷺ, who, after the
                                passing of <strong>Sayyiduna Aala Hazrat, Imam-e-Ahl-e-Sunnat, Imam Ahmad Raza Khan
                                    RadiAllahu Ta'ala Anhu</strong>, upheld <strong>Sunnism</strong> and restored its
                                glory.</p>

                            <p>He saved the Sunnis from deviant ideologies and thwarted the evil plans of various
                                opposing groups. He humiliated the Wahabis from <strong>Hind (India) to Najd</strong>,
                                rendering them helpless. He silenced the Aryas and Christians, leaving them speechless.
                                He defeated the prominent debaters of Deobandis, leaving them stunned and speechless. He
                                confounded the Qadiyanis and Rafzis, leaving them bewildered.</p>

                            <p>He abandoned the material world and dedicated himself entirely to the service of
                                <strong>Islam</strong>. He renounced the wealth of millions, kicking it aside, and
                                instead, he raised the banner of <strong>truth</strong>.</p>

                            <p>For the Sunnis, he was a <strong>cloud of mercy</strong>; for the misguided, a
                                <strong>storm of reckoning</strong>. He was never intimidated by any worldly power or
                                external influence.</p>

                            <p>He spread <strong>Islam and Sunnism</strong> across various lands, including
                                <strong>Sindh, Punjab, Kathiawar, Gujarat, Rajasthan, Bihar, Bengal, and as far as Burma
                                    and Rangoon</strong>. After the blessed passing of <strong>Sayyedina Aala
                                    Hazrat</strong>, he served the <strong>Mazhab-e-Ahl-e-Sunnat</strong>, supported and
                                guided Sunni Muslims, and safeguarded their faith for nearly forty years.</p>

                            <p>He was none other than:</p>
                            <p><strong>Mazhar E AalaHazrat, Alim-e-Shariat, Waqif-e-Asrar-e-Tariqat, Imamul Munazireen,
                                    Umdatul Aarifeen, Allama wa Maulana Hashmat Ali Khan Sahab Qadri Barkati Razavi
                                    Mujaddidi RadiAllahu Ta'ala Anhu.</strong></p>

                            <p>He was a <strong>tireless defender</strong> of Ahl-e-Sunnat, a <strong>great
                                    scholar</strong>, a <strong>guide of the spiritual path</strong>, and a
                                <strong>beacon of knowledge</strong>. His virtues are so numerous that even extensive
                                volumes could not encompass them.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Blessed Birth
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Hazrat Hashmat Ali Khan radiAllahu Ta'ala Anhu was born in 1319 Hijri near the shrine of
                                Hazrat Maulana Sufi Abdul Rahman Sahab Lakhnawi alaihirema in Lucknow, in a family of
                                Aafridi lineage. His genealogical lineage is as follows:</p>

                            <p>Muhammad Hashmat Ali Khan ibn Abul Huffaz Muhammad Nawab Ali Khan Qadri Hidayat Rasooli
                                ibn
                                Muhammad Hayat Khan ibn Muhammad Sa'adat Khan.</p>

                            <p>Hazrat Sher-e-Sunnat used to describe his year of birth with the following phrases:
                                "Sag-e-Bargah-e-Baghdad (1319 Hijri)"(The dog at the doorstep of Gaus E Aazam) and
                                "RadiAllahu Anka Muhyul Millat (1319 Hijri)" (May Allah be pleased with him, the Reviver
                                of
                                the Deen).</p>

                            <p>From an early age, he displayed an exceptional thirst for knowledge. By the age of nine,
                                he
                                had memorized the Quran (becoming a Hafiz). At twelve, he mastered Qirat-e-Sab‘a, and by
                                fourteen, he was delving into advanced fields of Islamic knowledge.</p>

                            <p>On 25th Rajab 1136 Hijri, he arrived in Bareilly Shareef. After coming to Bareilly, he
                                became a mureed (disciple) of Huzoor Sayyiduna Aala Hazrat. He then enrolled in Aala
                                Hazrat's Madrasa-e-Ahl-e-Sunnat Manzar-e-Islam.</p>

                            <p>Impressed by his intellect and exceptional debating skills, Sayyedina Aala Hazrat
                                conferred
                                upon him the title of "Abul-Fatah" at the young age of 18 or 19. He earned this honor
                                after
                                decisively defeating Yaseen Kham Sarai Deobandi, the khalifa of Ashraf Ali Thanvi a
                                scholar
                                of a deviant (kafir) sect, in a debate. As a testament to his remarkable achievement, he
                                received the esteemed Imam’s turban and cloak.</p>

                            <p>Renowned for his debating prowess, he remained undefeated in scholarly discussions and
                                played a pivotal role in defending Sunni Islam against deviant ideologies.</p>

                            <p>Upon his victorious return from the Haldwani debate, Aa’la Hazrat, overjoyed, declared:
                                "You are Abul-Fatah (Father of Victory)."
                                Rising from his seat, he embraced him, placed his own turban on Hazrat
                                Sher-e-Besha-e-Sunnat’s head, gave him his cloak, and granted him five rupees as a token
                                of
                                appreciation.</p>

                            <p>Following this, Aa’la Hazrat personally inscribed in the madrasa’s register:
                                "Hashmat Ali is my spiritual son. From today onward, I grant him a monthly allowance of
                                five
                                rupees."</p>

                            <p>In Attariul Daari, Aa’la Hazrat RadiAllahu Anhu wrote:
                                "Walad-e-Murafiq, Gaizul Munafiq, Azeezi Maulvi Hafiz Hashmat Ali Qadri Barkati Lakhnawi
                                Zadahullahu Ta'ala Min Faizihil Khafi wal Jali."
                                (Attariul Daari Lee Hafwat-e-Abdulbari, Jild-3, Page-55)</p>

                            <p>Which means:
                                "A devoted and supportive son, the fury of the hypocrites, my dear Maulvi Hafiz Hashmat
                                Ali
                                Qadri Barkati. May Allah increase his concealed and evident blessings upon him."</p>

                            <p>After completing his education, Hazrat Sher Be’sha e Ahle Sunnat (alaihir rahma) became a
                                teacher at Darul Uloom Manzar-e-Islam for several years. During this time, he also
                                rendered
                                his services as a Mufti for Jamaat Raza-e-Mustafa in Bareilly Shareef.</p>

                            <p>Furthermore, he held leadership roles in nearly all the major Sunni organizations,
                                monthly
                                publications, and committees of that era. He was either their president, founder, or at
                                least a guiding figure, offering his wisdom and direction.</p>

                            <p>Sher Be’sha E Ahle Sunnat (alaihir rahma) with all his blessed qualities and grandeur,
                                spent
                                his entire life striving against and debating corrupt sects. He dedicated every moment
                                to
                                combating those who committed blasphemy against Almighty Allah and the Holy Prophet ﷺ.
                                His
                                entire mission was devoted to protecting the truth and defending the sanctity of the
                                Prophet
                                ﷺ from any form of attack.</p>

                            <p>Since he lived in an era where the corruption of the Wahabi and Najdi menace was rampant,
                                he
                                vigorously debated and refuted their false ideologies with his profound knowledge and
                                wisdom. He also challenged and defeated other deviant sects of his time, including the
                                Naichris, Qadianis, Chakralvis, Khaaksaaris, and Bahais, among others.</p>

                            <p>He further combatted and triumphed against the corrupt Arya Shuddhi movement, and by the
                                grace of Allah, he emerged victorious in every debate.</p>

                            <p>Alhumdulillah, he never failed or lost a single confrontation.</p>

                            <p>In addition to his exceptional debating skills, Mazhar E AalaHazrat was also a prolific
                                author. He wrote approximately fifty books in defense of Sunni beliefs , presenting
                                clear
                                proofs and refutations against false ideologies.</p>

                            <p>Hazrat was renowned for his wisdom and unparalleled debating techniques. In his era,
                                there
                                was none like him in this field. Approximately sixty of his debates were meticulously
                                recorded in written format and published, while scores of others were narrated by
                                witnesses
                                who attended them and later passed them on.</p>

                            <p>His unwavering determination and dedication made him as firm as a mountain in his
                                mission.
                                Even in the face of the most challenging and testing situations, where many others dared
                                not
                                engage, he fearlessly entered debates and proclaimed the truth without hesitation.</p>

                            <p>He lived by a single unwavering policy which he firmly upheld throughout his life:</p>

                            <p>"Chut Jaa’e agar Daulat-e-Kaunain
                                To Kya Ghum
                                Chute Na Haath Se Damaan-e-Muhammad ﷺ"
                                (Even if I lose the wealth of both worlds, I have no sorrow,
                                As long as I do not lose hold of the blessed cloak of Muhammad ﷺ.)</p>

                            <p>Hazrat Sher-e-Besha-e-Sunnat is generally remembered as Imamul-Munazireen (Leader of the
                                Debaters), Sultanul-Waizeen, Khalifa of Aala Hazrat, and a senior religious scholar. His
                                God-gifted abilities, scholarly greatness, and the accounts of his debates are well
                                known
                                among the general public and the elite. However, very few people know that he reached
                                the
                                Maqam E Fana fi-sSheikh, Fana fil-Rasool, and later Fana fillah, and was elevated to the
                                rank of Qutb-e-Aalam. One possible reason for this is that the religious services of
                                Hazrat
                                Mazhar-e-Aala Hazrat have not yet been fully presented, nor can people like us do
                                justice to
                                this work. So how would one even pay attention to this profound matter? SubhanAllahi wa
                                Bihamdihi .</p>

                            <p>Some events occurred in the pure life of Qutb-e-Aalam Mazhar-e-Aala Hazrat radiAllahu
                                Ta'ala
                                Anhu due to which he attained exalted maqamat in a very short time. His Sheikh
                                (Mujaddid-e-Aazam E Deen-o-Millat, radiAllahu Anhu), upon seeing his pure passion for
                                serving the religion and his immense love for him, sometimes embraced him to his noble
                                chest
                                and sometimes took him along on journeys lasting two months—where often no one else was
                                present or very few people were. These events, apparently, may not seem significant, but
                                the
                                Asfiya truly understand their worth. For example, Hazrat Imamuddin Abdal radiAllahu
                                would
                                transform someone’s spiritual state just by looking at them intently, or Sultan-ul-Hind,
                                at
                                a young age, eating the blessed food from a majzub's bundle—many such examples are found
                                in
                                the books of the tasawwuf.</p>

                            <p>We truly do not know what exactly he received and how much that led him to be told: "All
                                spiritual powers are with him, and they are ready at all times to support him." (Khalifa
                                of
                                Baba Tajuddin, radiAllahu anhu) Or it was said: "Today, if there is any true Maulana in
                                the
                                entire world, then in my sight, it is Maulana Hashmat Ali Khan of Pilibhit, who has been
                                granted this honor, this miracle, this greatness, this Maqbooliyat, as well as
                                knowledge,
                                courage, victory, and glory due to his connection with the great Maulana of Bareilly,
                                Hazrat
                                Ahmad Raza Khan Sahab." (Khawaja Sufi Muhammad Hassan Chishti Abul Ulai, radiAllahu
                                anhu)
                                Even Sultanul -Tarikeen Hazrat Mujahid-e-Millat said: "Only Sufis can understand his
                                spiritual perfections."</p>

                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Maqam E Fana fis-Shaikh
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Hazrat Aal E Ahmad Achche Miyañ Marharwi (radiAllahu Anhu) said: "The first level of
                                "fana"
                                is Fana fish-Shaikh, meaning one should lose themselves so completely in the thought of
                                their spiritual guide(murshid e kamil) that they forget themselves entirely, and do not
                                consider themselves separate from their Sheikh. In short, they should completely erase
                                their
                                own existence and perceive their Sheikh as the presence." (Aadabus-Saalikeen)</p>

                            <p>As a result, he (Aalahazrat)would say: "He is my spiritual son." And he also called him
                                "walad e murafiq".</p>

                            <p>So, what happens when a person reaches this level? Observe the following:</p>

                            <p>An Incident in Surat</p>

                            <p>During a bayan in Surat, Maulana Ghulam Nizamuddin Qadri Barkati Qasimi radiAllahu Ta'ala
                                Anhu saw a noble buzurg with a white beard, wearing a white muslin robe and
                                Amama(turban),
                                leaning on his staff, behind the chair of Hazrat Sher-e-Besha-e-Sunnat with his right
                                hand
                                placed on his back. Maulana Ghulam Nizamuddin Sahib stood up upon seeing this elder.</p>

                            <p>During the sermon, Mazhar E AalaHazrat saw Maulana standing and asked him to sit, but
                                Maulana remained standing until the recitation of Salaat and Salam was completed. When
                                Hazrat began the prayer, the holy personality disappeared and Maulana finally sat down.
                            </p>

                            <p>After returning to the resting place, Mazhar E AalaHazrat asked Maulana why he had stood
                                for
                                so long. Maulana narrated the incident and described the appearance of the holy person.
                                Hazrat, upon hearing this, said: "You are blessed to have seen Hazrat Aala Hazrat,
                                Mujaddid-e-Deen-o-Millat (radiAllahu Ta'ala Anhu)while awake! And, all praise to Allah,
                                Huzoor Aala Hazrat is pleased with this humble and insignificant servant and is
                                supporting
                                him."</p>

                            <p>An Incident in Bhiwandi:-</p>

                            <p>During a gathering in Bhiwandi, Hazrat began his speech. Shortly after starting, Maulana
                                al-Haj Molvi Syed Muhammad Ameen Sahab Ashrafi Jilani, Khalifa of Hazrat Ali Hussain
                                Ashrafi
                                Kichhauchhawi, radiAllahu Anhu—who was sitting ahead of Hazrat’s chair on the
                                stage—stood
                                up, turned his back to the audience, faced Mazhar E AalaHazrat's chair, and stood with
                                folded hands in great respect.</p>

                            <p>Upon seeing this, Hazrat said: "Hazrat Sayyed Sahab, please take your seat." However,
                                Maulana remained unmoved.</p>

                            <p>After some time, Hazrat again asked him to sit, but Maulana did not. He remained standing
                                until the sermon was completed, Salat and Salam were recited, Only then did Maulana sit.
                            </p>

                            <p>After the session ended, the Sunni brothers departed, and Hazrat returned to his resting
                                place. He then asked Maulana, "Hazrat, why did you stand in such a manner during the
                                sermon
                                today?"</p>

                            <p>Upon hearing this, tears filled Maulana’s eyes, and he replied: "Hazrat! After a long
                                time,
                                through your blessed presence, I was granted the vision of Huzoor Aala Hazrat, Qibla
                                radiAllahu Ta'ala Anhu while awake. When you began radd-e-wahabiya in your speech, I
                                happened to glance behind your chair, and there I saw Huzoor Aala Hazrat Maulana Shah
                                Muhammad Ahmad Raza Khan radiAllahu Ta'ala Anhu standing in white attire, leaning on his
                                blessed staff, and placing his right hand upon your back. His beautiful face was glowing
                                with a smile. Upon witnessing this, I immediately stood up. When Salat and Salam were
                                recited, Huzoor Aala Hazrat departed, so I sat down. Hazrat, today I have realized that
                                Huzoor Aala Hazrat has immense favor upon you."</p>

                            <p>Upon hearing this, tears streamed from the eyes of Hazrat Sher-e-Besha-e-Sunnat, and he
                                said: "I continue to spread the teachings of true Sunnism while remaining under his
                                shadow
                                of support. It is through his gracious gaze that I enter the strongholds of Wahabis and
                                Deobandis, proclaim the truth, and return safely."</p>

                            <p>The Decisive Debate in Lahore and the Sermon at Wazir Khan Mosque</p>

                            <p>After the decisive debate in Lahore, during the same period, Hazrat began delivering a
                                Friday khitab at Wazir Khan Mosque in Lahore. In this gathering, the Khalifa of Aa'la
                                Hazrat, Sayyed Deedar Ali Shah radiul maula anhu was also present.</p>

                            <p>During this sermon, after the khutbah and the recitation of an ayah, Hazrat recited this
                                naat sharif:</p>

                            <p>"Zameen o Zamaan tumhare liye, Makeen o Makaañ tumhare liye
                                Chuneen o chunan tumhare liye, Bane do jahan tumhare liye."</p>

                            <p>The gathering concluded with salat and salam, and Imamul-Waqt embraced Mazhar E
                                AalaHazrat
                                and congratulated him. He blessed him with prayers for a long time.</p>

                            <p>Later, Hazrat proceeded to his residence, i.e., the office of Markazi Anjuman
                                Hizb-ul-Ahnaf
                                Lahore. After some time, Imamul-Waqt also arrived and remarked:</p>

                            <p>Maulana, congratulations! Your Shaikh has immense favor upon you. I myself saw with my
                                own
                                eyes that while you were delivering your khitab in the mosque, a pulpit was placed on
                                the
                                dome of the mosque’s mihrab, where Huzoor Aa'la Hazrat himself was seated. He was
                                listening
                                to your speech with great joy, staying for the entire sermon. This is proof of the
                                special
                                favor and divine grace upon you."</p>

                            <p>(Excerpted from "Sawaneh Sher-e-Besha-e-Sunnat", compiled from various sources.)</p>

                            <p>Similarly, Hakim of Khanqah E Razvia also witnessed something late at night. He saw
                                Sher-e-Besha-e-Sunnat heading towards the shrine of Aa'la Hazrat. Out of curiosity, he
                                followed behind. Hazrat entered and shut the door, so he peeked through the window.</p>

                            <p>To his astonishment, Aa'la Hazrat was seated inside, while Sher-e-Besha-e-Sunnat was
                                presenting his manuscript. Aa'la Hazrat was reviewing it, directing him:</p>

                            <p>"Write this here, change this wording there."</p>

                            <p>This was a glimpse of the Fana fi'l-Shaikh of Sher-e-Besha-e-Sunnat.</p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Maqam E Fana fi'l-Rasool

                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Huzoor Aal-e-Ahmad Achhe Miya Marahrawi (radiAllahu Ta'ala anhu) states:</p>

                            <p>"The rank of Fana fi'l-Rasool is attained through Fana fi'l-Shaikh. First, the seeker
                                annihilates himself in his Sheikh, and the Sheikh is already annihilated in the
                                Messenger of
                                Allah ﷺ."</p>

                            <p>(Aadab al-Salikeen)</p>

                            <p>Who is unaware of Sher-e-Besha-e-Sunnat's deep love for the Prophet ﷺ? Friends, foes, and
                                even adversaries all acknowledged it. It was due to this love for Allah and His
                                Messenger ﷺ
                                that it was said:</p>

                            <p>Yeh Bandah Dono Aalam Se Khafa Mere Liye Hai</p>

                            <p>Undoubtedly, he was a martyr of divine love. He himself was immersed in the fragrance of
                                love. Whenever he delivered a speech or recited naat sharif, the entire gathering would
                                be
                                enveloped in the scent of his devotion.</p>

                            <p>The deep wound of divine love in his heart and the spiritual illuminations that descended
                                upon him are hinted at in his own poetry:</p>

                            <p>Jab tajalli kiya kare koi,
                                Kyu na be-khud hua kare koi</p>

                            <p>Zakhm dil ke dikhayenge ek roz,
                                Kyu phir unko siya kare koi</p>

                            <p>Main mareez unka, woh maseeha hain,
                                Phir meri kyu dawa kare koi</p>

                            <p>Pas e murdan hai wa'da-e-deedaar,
                                Shauq jeenay ka kya kare koi</p>

                            <p>As a result, some saw the Rasool Allah ﷺ embracing him in His luminous cloak. Others
                                witnessed Qutb-e-Madina personally coming to receive him in Madinatul Munawwarah.</p>

                            <p>Once, while Qutb-e-Madeena was seated in his house, someone from below called out,
                                prompting
                                him to come to the window. A man said:</p>

                            <p>"Maulana Hashmat Ali is arriving; please go to the bus stop to receive him."</p>

                            <p>He looked for this man but could not find him anywhere. When he reached the bus stop,
                                Mazhar
                                E AalaHazrat arrived five minutes later on the bus.</p>

                            <p>(Excerpted from "Purani Yadeiñ")</p>

                            <p>Just imagine the status of someone whom Qutb-e-Madina himself comes to receive!</p>

                            <p>Huzoor Mehboob-e-Millat narrates that Huzoor Muhaddis-e-Aazam e Hind once stated:</p>

                            <p>Hazrat and I were invited to a gathering. One of his sincere devotees approached and
                                said,
                                ‘Hazrat, certain Deobandi scholars praise your knowledge and truthfulness.'</p>

                            <p>Upon hearing this, Sher-e-Besha-e-Sunnat began weeping uncontrollably.</p>

                            <p>I said, 'Maulana, you should be happy that even your adversaries acknowledge your
                                knowledge
                                and integrity. The one informing you is not an opponent but a sincere devotee. This is a
                                moment of joy, not sadness.'</p>

                            <p> Hazrat replied, 'Huzoor! My wish and effort are that any heart that harbors enmity
                                towards
                                RasoolAllah ﷺ should not even remember me, let alone speak well of me.'"</p>

                            <p>This reflects the spirit of Fana fi'l-Rasool, where one is wholly devoted to the Prophet
                                ﷺ.</p>

                            <p>(Excerpted from Sawaneh Sher-e-Besha-e-Sunnat)</p>

                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Maqam E Fana Fillah
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Haji Osman Abdul Ghani Qadri Barkati Hashmati from Gondal narrates:

                            <p>In 1378 hijri, the Ahl-e-Sunnat of Gondal invited Mazhar E AalaHazrat, and he stayed at
                                my
                                home. The room had both an internal entrance from my house and an external door.

                            <p>One night at around 3 AM, I heard someone call me. I got up and entered Hazrat's room
                                from
                                the inner door. The outer door was locked, and the lantern’s flame was dim.

                            <p>When I increased the light, I saw a shocking sight:

                            <p>Hazrat’s body was completely dismembered—each limb was placed separately!

                            <p>A deep fear overtook me. Panicked, I left, sat near the water pot, and trembled in shock.
                                My
                                thoughts raced:

                            <p>"Who could have done this? How can I face his family? What will people think? The
                                police—what will they say?"

                            <p>Suddenly, Hazrat entered from the main door and asked:

                            <p>"Haji Sahab, are you alright? Go and rest."

                            <p>My condition worsened—I had just seen his body in pieces, yet he was standing before me
                                completely unharmed!

                            <p>I shook his hand to confirm it was truly him. Returning to his room, I saw that the bed
                                was
                                empty.

                            <p>Hazrat then said:

                            <p>"Haji Sahab, what you saw—never disclose it during my lifetime."

                            <p>He kept this divine secret until after Hazrat's passing, only revealing it later.

                                (Excerpted from "Sawaneh Sher-e-Besha-e-Sunnat")

                            <p>When does such a phenomenon occur? The answer is provided by Hazrat Banda Nawaz Gesu
                                Daraz
                                radiAllahu anhu, who states:

                            <p>This is the effect of Tajalli-e-Jalal upon the saalik.In this state, even mountains
                                collapse
                                and shatter into pieces. A kind of fire ignites, but this fire is not one that burns in
                                the
                                conventional sense. However, each spark of this fire contains the force of a hundred
                                thousand flames. This fire reduces the Sufi into fragments— not just fragments, but into
                                a
                                hundred thousand fragments.

                            <p>Between these mountains and this fire, a certain form appears, which no one except that
                                Sufi
                                can perceive. In this state, a most beautiful and delicate form manifests, calling all
                                these
                                shattered fragments toward itself. Each fragment rushes toward it. Then, by Qudrat the
                                heart
                                attains an even stronger, more complete, and more refined state, and it stands before
                                Haq
                                Ta'ala.This moment is paradise itself— rather, if a thousand paradises were sacrificed
                                for
                                this moment, it would still be a bargain."

                            <p>He further states:

                                بفراغ دل زمانے نظرے بہ خوب روئے
                                به از انکه چتر شاہی ہمہ عمرو ہائے و ہوئے
                                (Jawaameul-Kalim, Mir’aatul-Asraar)

                            <p>From this, one can gauge the Maqam e wilayat of Mazhar E AalaHazrat recognizing how great
                                a
                                Wali of Allah he truly was.

                            <p>Beyond this, the spiritual authority (Tasarrufaat) of Hazrat Mazhar e Aa’la Hazrat is
                                extensive. It includes: granting Wilayat, restoring revoked wilayat, revealing the
                                Ism-e-A’zam (the Greatest Name of Allah) to whomever he willed, foretelling future
                                events,
                                placing his hand on a stone and having the sacred name of the Allah appear upon it,
                                toppling
                                the Wahabis’ tent during a debate through spiritual power, being one whose prayers were
                                always accepted (Mustajaab al-Da’waat), and many other that cannot be fully detailed.


                            <p>Statements by the Exalted Scholars about Hazrat Allama Abul Fatah Hashmat Ali Khan Qadri
                                RadiAllahu Ta'ala Anhu


                            <p>A personality who is regarded among the best of his era is not only esteemed for his
                                great
                                stature, respect, and honor because of the praises and tributes from his disciples,
                                devotees, well-wishers, friends, and relatives after his passing, but his true
                                excellence
                                and status become evident through the views, words, and writings of the distinguished
                                and
                                learned Ulama, Masha’ikh, and Muftis of his time.

                            <p>His actual greatness is reflected in how the learned scholars of Deen turn to him in
                                times
                                of need, the way they address him, and the esteemed titles they bestow upon him in their
                                writings and correspondence.

                            <p>At times, even those who differ with him on certain issues are found praising him.

                            <p>Janasheen-e-Aa’la Hazrat, Hujjatul Islam Hazrat Allama Ash-Shah Muhammad Haamid Raza Khan
                                (Alaihi Rahma):
                                "Among the blessings that Almighty Allah has bestowed upon me, two great blessings are
                                Hazrat Maulana Sardaar Ahmed and Hazrat Maulana Hashmat Ali Khan Sahab."

                            <p>Taajdaar-e-Ahle Sunnat, Huzoor Mufti-e-Aazam Hind (RadiAllahu Anhu):

                            <p>"He is the lion of the forest of Sunnah and a brave warrior in the field of
                                truth-speaking.
                                In reality, he did you a great religious favor by saving you from becoming a Wahabi. In
                                a
                                city like Bombay, he did not allow Wahabism to take root. The services rendered by
                                Mazhar-e-A’ala Hazrat, Asadul Millat, Naasir-e-Ahle Sunnat, Sher-e-Besha Ahle Sunnat,
                                Hazrat
                                Maulana Hashmat Ali Khan (RadiAllahu Anhu), could not be accomplished even by one
                                hundred
                                and fifty Molvis combined."

                            <p>(Tarjuman-e-Ahle Sunnat, Vol. 3, Pages 28-29)

                            <p>Khalifa-e-Aala Hazrat, Malikul Ulama, Hazrat Allama Zafaruddeen Bihari Razvi (RadiAllahu
                                Ta’ala Anhu)

                            <p>Hazrat Malikul Ulama wrote a letter to Hazrat Sher-e-Besha-e-Sunnat in which he stated:

                            <p>"Haami-e-Deen-e-Mateen, Maahi-e-Sharr-e-Mubtadi’een, Sher-e-Besha-e-Ahle Sunnat,
                                Nasir-e-Deen-o-Millat, Abul Fatah Maulana Maulvi Hashmat Ali Khan Sahab, Daamat
                                Fuyuzukum wa
                                Barkatukum,"

                            <p>which means:

                            <p>"The defender of Islam and Sunnism, the eradicator of the evil of innovators, the lion of
                                the garden of Ahl-e-Sunnah, the upholder of faith, Abul Fatah Maulana Maulvi Hashmat Ali
                                Khan Sahab."

                            <p>On the card address, he wrote:

                            <p>"Haami-e-Deen-o-Millat, Maahi-e-Wahabiyat wa Leagiyat, Nasir-e-Sunniyat, Kasir-e-Bid'at,
                                Namuna-e-Shiddat-e-Hazrat Umar wa Aala Hazrat, Janab Maulana Maulvi Abul Fatah Hashmat
                                Ali
                                Khan Sahab Qadri Razvi,"

                            <p>which means:

                            <p>"Presented with honor to the defender of Islam and Sunnism, the eradicator of Wahabism
                                and
                                Leagueism, the upholder of Sunnism, the crusher of innovations, the embodiment of the
                                religious firmness of Hazrat Umar and Aala Hazrat—Maulana Maulvi Abul Fatah Hashmat Ali
                                Khan
                                Sahab Qadri Razvi."

                            <p>(Fatawa Ahle Sunnah Likadd-e-Ahlil Fitna)

                            <p>Khaleefa-e-Ala Hazrat, Huzoor Muhaddis-e-Azam E Hind, Allama Sayyed Muhammad Kichauchavi
                                (RadiAllahu Ta'ala Anhu)

                            <p>His piety(Taqwa)and unwavering commitment to following the Sunnah were evident throughout
                                his life. Who is unaware of his successful defense of the truth and his refutation of
                                falsehood? He dismantled the arguments of Christians and struck fear into the Aryas.
                                However, among the Deobandis, it is widely said that he wiped them out completely.

                            <p>Another remarkable aspect of Maulana’s life was that he often encountered betrayal from
                                those he had benefitted. Yet, this steadfast mountain of faith and patience never
                                wavered.
                                He remained a true example of the Salaf-e-Saliheen.

                            <p>Khuda jaane keh kitni khubiyan thi paak hasti mein

                            <p>(Mahnama Pasban, Ilahabad, August & September 1960, Shaikh-e-Millat Number 1380 H, Page
                                40)

                            <p>Sarkar E Kalaañ Tajdar E Kichaucha Hazrat Sayyed Mukhtar Ashrafi Jeelani radi Allahu anhu

                            <p>Tell me, how can one describe that Lion of Truth, whose faith in Allah and His Messenger
                                (Jalla Jalaluhu wa ‘Alayhi wa ‘Aalihi wa Sahbihi as-Salat wa as-Salam) has become a
                                recorded
                                legacy? The one who was always devoted to the honor and love of the Holy Prophet (Alayhi
                                as-Salat wa as-Salam), who stood as a unique example in demolishing falsehood and
                                upholding
                                the truth, whose every roar overturned the fortresses of falsehood, and whose entire
                                life
                                was deeply rooted in the practice of the Sunnah?

                            <p>He was unmatched in his respect for scholars, Sayyids, and teachers. A scholar, jurist,
                                debater, and a person of trustworthiness, justice, piety, and deep fear of Allah—his
                                very
                                being embodied all these virtues. Those who could see, witnessed the spiritual hand of
                                Ghaus-e-Aazam (RadiAllahu Ta’ala Anhu) over his head at all times. He never tolerated
                                any
                                resistance in matters of Islam and sunniyat, and his faith could not be bought with
                                overflowing treasures. In declaring the truth, he remained indifferent to any blame or
                                opposition. He feared none but Allah, and neither the sharpness of the pens of the
                                misguided
                                nor the blades of the faithless ever succeeded in suppressing him.

                            <p>My sentiments about him are the same as those of every true Sunni of correct belief. The
                                summary of this is: whoever truly knows him and aligns with his Aqeedah is indeed a true
                                Sunni and a person of true Imaan. And whoever, despite knowing him, speaks ill of him is
                                certainly misguided(badmazhab) and faithless(be-deen).

                            <p>Hazrat Allama Mufti Mohammed Imaad’dud’Deen Hanafi Qaadri (Mufti E Aa’zam Sambhal –
                                Muradabad)


                            <p>He was a figure who safeguarded the unsuspecting Muslims from the corruption of the
                                wicked
                                and the mischief of the enemy. His bravery and unwavering stance against the foes proved
                                that he was undoubtedly a true representative of Razviyat and a devoted follower of
                                Aa’la
                                Hazrat.

                            <p>My heart, mind, sense of justice, and intellect tell me that when Aa’la Hazrat mentioned
                                in
                                his final advice, “Allah will surely send someone to uphold and protect the Deen,” it
                                was
                                Hazrat Sher e Besha e Ahle Sunnat he was referring to.


                            <p>Demise

                            <p>Hazrat Hashmat Ali Khan passed away on 8th Muharram 1380 Hijri (3rd July 1960) in
                                Pilibhit
                                Sharif, India. He was laid to rest in Hashmat Nagar, where his shrine stands as a beacon
                                for
                                devotees. He was poisoned, but his legacy remains immortal.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapsSix" aria-expanded="false" aria-controls="collapsSix">
                            Irshadaat
                        </button>
                    </h2>
                    <div id="collapsSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>1 Sunni brothers! Recognize the enemies of Allah and His Messenger (Jalla Jalaluhu wa
                                SallAllahu Alaihi Wasallam). Distinguish between the traitors and the loyal ones. Until
                                now,
                                I have been telling you this, and even today, I continue to do so. On the Day of
                                Judgment,
                                no Muslim will have the excuse to say, "We were unaware, we were uninformed."

                            <p>I will not rise from my grave to remind you again. Stay steadfast and firm on the same
                                faith
                                and ideology of Murshid-e-Barhaq, Sayyiduna Aala Hazrat (RadiAllahu Ta'ala Anhu), hold
                                firmly to his blessed books and writings. Never be intimidated by someone just because
                                they
                                appear to be a religious elder.

                            <p>Stay away from Wahabis, Tableeghis, Maududis, and all deviant sects and misguided groups.
                                Keeping a distance from them is your salvation and success.

                            <p>[Sawaneh-e-Sher-e-Besha-e-Sunnat, Page 242]

                            <p>2 "Dear Muslim brothers! This era is extremely impure and full of tribulations. The
                                looters
                                of faith, the deceivers of Imaan are roaming around everywhere. It is very important to
                                protect your religion and creed. Apart from the 1350-year-old traditional creed of
                                Ahl-e-Sunnat, all the new sects and groups that have emerged should be avoided. Stay
                                away
                                from them."

                            <p>(Fatawa Hashmatiyah Shareef, Vol-1, Page-264)

                            <p>3 "Worldly advancements(materialistic sucess), if they are for spreading Islam, the
                                preaching of Sunniyat (spreading Sunniyat), and the elevation of the Word of Allah
                                (spreading Allah’s message), then undoubtedly, there is reward in them. However, if
                                these
                                worldly advancements have no religious or Islamic objective, then they do not even
                                qualify
                                as Islamic virtues, let alone human virtues."

                            <p>(Tajaanub-e-Ahlesunnat Shareef, P-462)

                            <p>4 A Sunni Muslim should not disgrace another Sunni Muslim brother for his hidden sins
                                (ma'asi/gunah). If he somehow knows about them, he should surely recognize those sins
                                according to the principles of Shariah. However, merely on this basis, he should not
                                consider his religious and faithful brother as disgraceful. Nor should he boast about
                                his
                                own reputation, piety, and purity. Rather, he should have mercy on him, pray for his
                                purification from sins, and ask for his forgiveness.

                            <p>This is provided that his hidden sins do not harm AhleSunnat.

                            <p>Before pointing fingers at others, we should first reflect upon ourselves, examining our
                                own
                                flaws. We should consider how we have spent our lives and what misdeeds we have
                                committed.

                            <p>It is only through the grace and mercy of Allah Ta’ala and RasoolAllah (Jalla Jalalahu wa
                                Sallallahu Alaihi Wasallam) that our countless faults remain concealed. Otherwise, may
                                Allah
                                forbid, we would have been far more disgraced than that Sunni brother!"

                            <p>Reference:
                                (Maktubaat-e-Mazhar-e-Aalahazrat, J-2, P-114)

                            <p>By:- Ubaid E Hashmat Ali

                            <p>Note:-Note: I have written this brief biography to the best of my knowledge and research.
                                If
                                there is any Shariah-related error or flaw in it, I take full responsibility for it. I
                                humbly acknowledge my mistake and sincerely repent. May Allah Almighty forgive the
                                shortcomings of my pen and make this a means of His pleasure. Ameen.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer>
</app-footer>