/* ============================= */
/* 📖 BIOGRAPHY BOX */
/* ============================= */
.biography-box {
  box-shadow: 0 0 15px var(--secondary-color);
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
}

.biography-box h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
}

/* ============================= */
/* 📂 ACCORDION STYLES */
/* ============================= */
.biography-box .accordion-item {
  border: none;
}

.biography-box .accordion-button {
  background-color: var(--light-secondary-color);
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  border-radius: 9px;
  box-shadow: none;
}

.biography-box .accordion-button::after {
  color: var(--bg-color);
}

/* ============================= */
/* 🖼️ BIOGRAPHY IMAGE */
/* ============================= */
.biography-img {
  width: fit-content;
  margin: 0 auto;
  border-radius: 20px;
  border: 2px solid var(--primary-color);
  overflow: hidden;
}

.biography-img img {
  width: 120px;
  display: block;
}

/* ============================= */
/* 📝 BIOGRAPHY CARD */
/* ============================= */
.biography-card {
  padding-top: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* ============================= */
/* 📄 CONTENT TEXT */
/* ============================= */
.content-text {
  margin-top: 20px;
  border-top: 1px solid var(--secondary-color);
  padding: 15px;
}

.content-text .biography-text {
  font-size: 16px;
  color: var(--text-color);
}

.content-text h2 {
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: 700;
  display: flex;
  text-align: left;
  color: var(--text-color);
}

.content-text .title {
  width: 40%;
  font-weight: 700;
  white-space: nowrap;
  color: var(--text-color);
}

.content-text .text {
  width: 60%;
  text-align: left;
  color: var(--text-color);
}

