/* Margin Utility */
.mt-150 {
    margin-top: 150px;
}

@media screen and (max-width: 768px) {
    .mt-150 {
        margin-top: -30px;
    }
}

/* Responsive Caption Adjustments */
@media screen and (max-width: 768px) {
    .maincarousel .carousel-caption h1 {
        font-size: 2rem;
    }

    .maincarousel .carousel-caption p {
        font-size: 1.2rem;
    }
}
