
<ngx-spinner type="line-scale-party">
    <h3>Loading...</h3>
</ngx-spinner>

<app-nav></app-nav>
<button *ngIf="showInstallButton"
        (click)="installApp()"
        class="btn"
        style="
          position: fixed;
          top: 1rem;
          right: 15em;
          height: 2.5rem;
          z-index: 1050;
          background-color: blue;
          color: white;
          font-size: 0.75rem;       /* Smaller text */
          padding: 0.25rem 0.5rem;  /* Reduced padding */
          border-radius: 0.25rem;   /* Optional: tighter corners */
        ">
  Install
</button>




<div class="container-fluid px-0 pb-5"> 
   <router-outlet></router-outlet>
</div>
