footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background: var(--gradient-primary);
    color:var(--color-text);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }