.feedback-donation-section {
    margin-top: 20px;
    background-color:var(--color-background);
    border-radius: 15px;
}

.feedback, .donation {
    padding: 30px 20px;
    text-align: center;
}

.feedback h6, .donation h6 {
    font-size: 20px;
    font-weight: 900;
    color:var(--color-primary);
    margin-bottom: 10px;
}

.feedback p, .donation p {
    font-size: 16px;
    line-height: 22px;
    color:var(--color-text-muted);
}

.feed-anch, .donate-anch {
    display: block;
    margin: 0 auto;
    width: 70%;
}

.feedback-btn, .donation-btn {
    background-color: var(--color-primary);
    color: var(--color-text);
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 0;
    width: 100%;
    cursor: pointer;
}



.btn-them {
    background-color: green;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
        padding-bottom: 6px;
}

/* Responsive Adjustments */
@media screen and (max-width: 767px) {
    .feedback, .donation {
        padding: 20px 10px;
    }
}

@media screen and (max-width: 480px) {
    .feedback-btn, .donation-btn {
        font-size: 14px;
    }
}


