/* ============================= */
/* 📝 FEEDBACK FORM STYLES */
/* ============================= */
.container form {
  padding-bottom: 14px;
}

form .form-control {
  border: none;
  border-radius: 7px;
  background: var(--color-secondary-light);
  box-shadow: 0 10px 30px  var(--shadow-box);
  font-size: 16px;
  transition: all 0.3s ease;
  padding: 10px 15px;
}

form textarea.form-control {
  resize: vertical;
}

form .btn-primary {
  background: var(--color-primary);
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.3s ease;
}

